<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add a New Book</title>
    <meta http-equiv="Content-Type" charset="UTF-8" content="text/html">
</head>
<body>
    <h1>Add a New Book</h1>
    <div>
        <form th:object="${book}" th:action="@{/books/save}" method="post">
            <div>
                <label for="title">Title:</label>
                <input type="text" id="title" th:field="*{title}" />
            </div>
            <div>
                <label for="author">Author:</label>
                <input type="text" id="author" th:field="*{author}" />
            </div>
            <div>
                <label for="isbn">ISBN:</label>
                <input type="text" id="isbn" th:field="*{isbn}" />
            </div>
            <div>
                <label for="publicationYear">Publication Year:</label>
                <input type="number" id="publicationYear" th:field="*{publicationYear}" />
            </div>
            <div>
                <label for="price">Price:</label>
                <input type="number" step="0.01" id="price" th:field="*{price}" />
            </div>
            <div>
                <input type="submit" value="Save" />
            </div>
        </form>
    </div>
    <a href="/booklist">Back to Book List</a>
</body>
</html>