<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" charset="UTF-8" content="text/html">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <h1> Books </h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Author</th>
                <th>Title</th>
                <th>ISBN</th>
                <th>Year</th> 
                <th>Category</th>         
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.author}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.isbn}"></td>
                <td th:text="${book.publicationYear}"></td>
                <td th:text="${book.category.name}"></td>
                <td>
                    <a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger">Delete</a>
                    <a th:href="@{/books/edit/{id}(id=${book.id})}">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/books/add}" class="btn btn-success">Add Book</a>
</body>
</html>