<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Edit Book</h1>
    <div>
        <form th:object="${book}" th:action="@{../update}" action="#" method="post">
            <input type="hidden" id="id" th:field="*{id}" />

            <label for="title">Title</label>
            <input type="text" id="title" th:field="*{title}" required />
            <div style="clear: both; display: block; height: 10px;"></div>

            <label for="author">Author</label>
            <input type="text" id="author" th:field="*{author}" required />
            <div style="clear: both; display: block; height: 10px;"></div>

            <label for="publicationYear">Year</label>
            <input type="text" id="publicationYear" th:field="*{publicationYear}" required />
            <div style="clear: both; display: block; height: 10px;"></div>

            <label for="isbn">ISBN</label>
            <input type="text" id="isbn" th:field="*{isbn}" required />
            <div style="clear: both; display: block; height: 10px;"></div>

            <label for="categorylist">Category</label>
            <select id="categorylist" th:field="*{category}" class="form-control">
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
            <div style="clear: both; display: block; height: 10px;"></div>

            <input type="submit" value="Save Changes" />
        </form>
    </div>
    <a href="/booklist">Back to Book List</a>
</body>
</html>
